body {
  height: 100vh;
}

/* .debugging-border {
  border: 1px solid red;
} */

.max-height {
  height: 100vh;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#map {
  height: 100%;
  width: 100%;
}
